#country_spec {
    float: right;
    margin-left: 20px;
}

#country_spec th {
    background-color: var(--country_color);
    color: var(--text_color);
}

#country_spec th span {
    font-size: 15pt;
}

.div_cell {
    padding: 0;
}

.div_cell > div {
    display: table;
}

.div_cell div > div {
    display: table-cell;
    padding: 7px 10px;
    text-align: center;
}

.div_cell div > div:not(:last-of-type) {
    border-right: 1px solid #cccccc;
}

.show_hide_history {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.history {
    display: none;
}

#toc {
    width: fit-content;
    border: 1px solid gray;
    border-left: 3px solid black;
    padding: 10px 13px;
    margin: 20px 0;
}

#toc span {
    font-size: 13pt;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

#toc ul {
    list-style-type: none;
    padding: 0;
}

article:not(:first-of-type) {
    margin-top: 30px;
}

article.indent {
    margin: 0;
}

.radius {
    display: inline-block; 
    padding: 1px 3px 0 3px;
    border-radius: 3px;
    font-size: 9.5pt;
}