:root {
    --table_color: #003057;
}

table {
    border: 2px solid var(--table_color);
    margin: 30px auto;
}

th, td {
    text-align: center;
}

th {
    background-color: var(--table_color);
    color: white;
}

th span {
    font-size: 18pt;
}