@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'GmarketSansMedium', 'Noto Sans KR', sans-serif;
    font-size: 10.4pt;
    /* font-weight: bold; */
}

body {
    background-color: #efefef;
}

a {
    color: initial;
    text-decoration: none;
    font-size: unset;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #303030;
}

header .container {
    height: 45px;
    width: 1520px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header a {
    color: #dddddd;
    font-size: 15pt;
    font-weight: bold;
    margin-left: 30px;
}

header a:hover {
    color: white;
    text-decoration: none;
}

body #container {
    width: 1450px;
    padding: 30px 35px;
    margin: 0 auto;
    background-color: white;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

h1 {
    font-size: 27pt;
    margin-bottom: 5px;
}

h2 {
    font-size: 21pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 15pt;
}

hr {
    border: 1px solid #cccccc;
    margin: 5px 0 15px 0;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #cccccc;
    padding: 6px 9px;
}

td {
    background-color: white;
}

small {
    font-size: 9pt;
}

span.rounded_box {
    display: inline-block;
    padding: 2px 3px;
    margin-right: 3px;
    border-radius: 3px;
    font-size: 10pt;
    font-weight: bold;
    color: white;
}

.quote {
    width: fit-content;
    padding: 13px 16px;
    margin-bottom: 20px;
    border: 2px dotted #a7a7a7;
    border-left: 3px solid rgb(53, 53, 53);
    background-color: #f1f1f1;
}

.quote hr {
    margin: 7px 0;
}

img {
    vertical-align: middle;
}

.center {
    text-align: center;
}

ul {
    padding-left: 20px;
    margin: 5px;
}

ul li {
    line-height: 21px;
}

span.p1 {
    font-size: 14pt;
}

span.p2 {
    font-size: 16pt;
}

span.p3 {
    font-size: 18pt;
}
