@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Noto+Sans+KR&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'GmarketSansMedium', 'Noto Sans KR', sans-serif;
    /* font-weight: bold; */
}

body {
    background-color: #efefef;
}

a {
    color: initial;
    text-decoration: none;
    font-size: unset;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #303030;
    margin: 0 auto;
}

header .container {
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

hr {
    border: 0;
    height: 2px;
    background: #cccccc;
}

table {
    margin-bottom: 10px;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #cccccc;
    padding: 7px;
}

td {
    padding: 7px 10px;
    background-color: white;
}

ul {
    padding-left: 18px;
}

img {
    vertical-align: middle;
}

.center {
    text-align: center;
}

.quote {
    width: fit-content;
    padding: 13px 16px;
    margin-bottom: 20px;
    border: 2px dotted #a7a7a7;
    border-left: 3px solid rgb(53, 53, 53);
    background-color: #f1f1f1;
}

@media screen and (max-width:767px) {
    * { font-size: 11pt; }

    body { width: 100% }

    header a {
        color: #dddddd;
        font-size: 12pt;
        font-weight: bold;
        margin-left: 15px;
    }

    header a:hover {
        color: white;
        text-decoration: none;
    }

    body {
        width: 100%;
    }

    body #container {
        border: none;
        padding: 18px;
        background-color: white;
    }
    
    h1 {
        font-size: 20pt;
        margin-bottom: 7px;
    }

    h2 {
        font-size: 17pt;
    }

    h3 {
        font-size: 15pt;
    }

    h4 {
        font-size: 13pt;
    }

    hr { margin: 5px 0; }

    hr:first-of-type {
        margin-bottom: 15px;
    }
    
    .quote {
        padding: 7px 10px;
        margin-bottom: 5px;
    }

    .quote hr {
        margin: 5px 0;
    }
    
    ul li {
        line-height: 23px;
    }
}

@media (min-width: 600px) {
    * { font-size: 10.4pt; }

    header .container {
        width: 1420px;
    }

    header a {
        color: #dddddd;
        font-size: 15pt;
        font-weight: bold;
        margin-left: 30px;
    }

    header a:hover {
        color: white;
        text-decoration: none;
    }

    body #container {
        width: 1350px;
        padding: 30px 35px;
        margin: 0 auto;
        background-color: white;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
    }

    h1 {
        font-size: 27pt;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 21pt;
    }

    h3 {
        font-size: 18pt;
    }

    h4 {
        font-size: 15pt;
    }

    hr { margin: 5px 0 15px 0;}

    .quote hr {
        margin: 7px 0;
    }
    
    ul li {
        line-height: 25px;
    }

    small {
        font-size: 9pt;
    }

    span.p1 {
        font-size: 14pt;
    }

    span.p2 {
        font-size: 16pt;
    }

    span.p3 {
        font-size: 18pt;
    }
}
